@media (max-width: 800px) {
    
    .span-icons {
        margin-top: 20px;
    }

    .section--category {
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px;
    }

    .header--fixed {
        display: none;
    }

    .mobile {
        display: none;
    }

    .section--highlighted {
        padding: 30px 5px;
    }

    .section--info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__category {
        margin-bottom: 30px;
    }
}