:root {
    /* Colors */   
    --color-primary: #24BBC7;
    --colors-primary-hovered: #23A4AD;

    --color-section-dark: #121212;
    --color-section-light: #F2F2F2;
    
    --color-bg-dark-grey: rgba(60, 60, 60, 0.84);
    --color-bg-white: #FFFFFF;
    --color-bg-bluish-green: rgba(0, 126, 135, 0.8);;

    --color-text-dark: #1D1F1E;
    --color-text-medium-light: #727272;
    --color-text-light: #F5F5F7;

    /* Sizes */
    --header-height: 48px;
    --section-padding: 72px 0;
    --text-line-height: 150%;
    
    /* Text sizes */
    --text-ultra-large: 56px;
    --text-large: 48px;
    --text-medium: 40px;
    --text-small: 32px;
    --text-ultra-small: 24px;
    --text-body-paragraph: 16px;
    --text-body-small: 14px;
    --text-body-description: 18px;
    --text-body-highligthed-ultra-small: 12px;
    --text-body-ultra-small: 12px;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Light.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Bold.otf);
    font-weight: bold;
} 

html, body {
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
}

/* COLORS CLASS */

.color--primary {
    color: var(--color-primary);
}


.color__section--dark {
    color: var(--color-section-dark);
}

.color__section--light {
    background-color: var(--color-section-light);
}

/* BACKGROUND */

.color__background--dark-grey {
    background-color: var(--color-bg-dark-grey);
}

.color__background--white {
    background-color: var(--color-bg-white);
}

.color__background--bluish-green {
    background-color: var(--color-bg-bluish-green);
}

/* COLOR TEXT */

.color__text--medium-light {
    color: var(--color-text-medium-light);
}

.color__text--dark {
    color: var(--color-text-dark);
}

.color__text--light {
    color: var(--color-text-light);
}

/* PADDING */

.section--padding {
    padding: var(--section-padding);
}

.section--padding-header {
    padding: 60px 0px 8px;
}

.section--padding-info {
    padding: 50px 130px;
}

.section--pading-div {
    padding: 50px 60px;
}

/* PAGE VAR */

.text__subtitle--ultra-large {
    font-size: var(--text-title-ultra-large);
    line-height: var(--text-line-height);
}

.text__title--ultra-large {
    font-size: var(--text-title-ultra-large);
    font-weight: bold;
    line-height: var(--text-line-height);
}

.text__title--large {
    font-size: var(--text-large);
    font-weight: bold;
    line-height: var(--text-line-height);
}   

.text__title--medium {
    font-size: var(--text-medium);
    font-weight: bold;
    line-height: var(--text-line-height);
}

.text__title--small {
    font-size: var(--text-small);
    line-height: var(--text-line-height);
    font-weight: bold;
}

.text__body--paragraph {
    font-size: var(--text-body-paragraph);
    line-height: var(--text-line-height);
}

.text__body--small {
    font-size: var(--text-body-small);
    line-height: var(--text-line-height);   
}

.text__subtitle--small {
    font-size: var();
    line-height: var(--text-line-height);
}

.text__subtitle--medium {
    font-size: var(--text-medium);
    line-height: var(--text-line-height);
}

.text__subtitle--large {
    font-size: var(--text-large);
    line-height: var(--text-line-height);
}

.text__subtitle--ultra-large {
    font-size: var(--text-ultra-large);
    line-height: var(--text-line-height);
}

.text__subtitle--ultra-small {
    font-size: var(--text-ultra-small);
    line-height: var(--text-line-height);
}

.text__subtitle--description {
    font-size: var(--text-body-description);
    line-height: var(--text-line-height);
}

.text__body--highligthed-ultra-small {
    font-size: var(--text-body-highligthed-ultra-small);
    line-height: var(--text-line-height);
    font-weight: bold;
}

.text__body--ultra-small {
    font-size: var(--text-body-ultra-small);
    line-height: var(--text-line-height);
}

.text__title--ultra-small {
    font-weight: bold;
    font-size: var(--text-ultra-small);
    line-height: var(--text-line-height);
}

.text__body--description-highlighted {
    font-size: var(--text-body-description);
    line-height: var(--text-line-height);
    font-weight: bold;
}

/* MAX WIDTH */

.max--width {
    max-width: 450px;
}

.width {
    max-width: 510px;
}

.width-text {
    max-width: 340px;
}

.width--input {
    width: 540px;
}

.section-width {
    max-width: 850px;
}

.maximus {
    max-width: 130px;
}

.text--width {
    max-width: 540px;
}

.image--width {
    width: 210px;
}

/* MARGIN */

.margin--text {
    margin-left: 167px;
}


/* END  OF VAR PAGE */  

/* CLASS REUSED */

.section--highlighted {
    margin-top: var(--header-height);
    background: var(--color-section-light);
    padding: var(--section-padding);
}

.section--highlighted__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--highlighted h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: var(--text-ultra-large);
    font-weight: bold;
    color: var(--color-text-dark);
}

.section--highlighted h2 {
    text-align: center;
    line-height: 35px;
    max-width: 440px;
    font-size: var(--text-ultra-small);
    margin-bottom: 5px;
    color: var(--color-text-dark);
} 

.section--highlighted h3 {
    color: var(--color-text-medium-light);
    text-align: center;
    margin-bottom: 15px;
    font-size: var(--text-body-description);
}

.section--highlighted--dark {
    background-color: var(--color-section-dark);
}

.section--highlighted--dark h1, .section--highlighted--dark h2 {
    color: var(--color-text-light);
}


.section--category {
    background: var(--color-section-light);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--category h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: var(--text-large);
    font-weight: bold;
    color: var(--color-primary);
}

.section--category h2 {
    text-align: center;
    line-height: 35px;
    max-width: 440px;
    font-size: var(--text-ultra-small);
    margin-bottom: 15px;
    color: var(--color-text-dark);
} 

.section--category h3 {
    color: var(--color-text-medium-light);
    text-align: center;
    margin-bottom: 15px;
    font-size: var(--text-body-description);
}

.section--category--dark {
    background-color: var(--color-section-dark);
}

.section--category--dark h1, .section--category--dark h2 {
    color: var(--color-text-light);
}

/* Links */

.link--primary {
    color: var(--color-primary);
    text-decoration: none;
}

.link--primary:hover {
    color: var(--colors-primary-hovered);
    text-decoration: none;
}

.list--link {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.list--link > li {
    margin-right: 30px;
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.button-group {
    font-size: var(--text-body-paragraph);
    color: var(--color-text-light);
    background: var(--color-primary);
    border-radius: 30px;
    padding: 10px 16px;
    border: none;
}

.icons {
    display: flex;
    align-items: center;
}

.span-icons {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin-bottom: 20px;
}

/* HEADER NAVIGATION */

.header--fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg-dark-grey);
    position: fixed;
    backdrop-filter: blur(20px);
    z-index: 100;
    width: 100%;
    top: 0;
    height: var(--header-height);
} 

.header__logo {
    max-width: 100px;
    cursor: pointer;
}

.header--fixed div > ul {
    display: flex;
}

.header--fixed div ul > li {
    list-style: none;
    margin-right: 20px;
}

.header--fixed div li > a {
    text-decoration: none;
    font-size: var(--text-body-small);
    color: var(--color-text-light);
}

.header--fixed div li > a:hover {
    color: #d8d8da;
}

/* END HEADER NAVIGATION */

/* SECTION HIGHLIGHTED */

.section--info {
    background-color: var(--color-section-light);
    padding: var(--section-padding);
}

.section--info h1 {
    font-size: var(--text-ultra-small);
    color: var(--color-text-dark);
    text-align: center;
    max-width: 750px;
    margin-bottom: 15px;
}

.section--info h2 {
    text-align: center;
    font-size: var(--text-ultra-small);
    color: var(--color-text-dark);
    margin-bottom: 20px;
}

.section--info h3 {
    text-align: center;
    font-size: var(--text-body-description);
    color: var(--color-text-medium-light);
}

.section--info p {
    color: var(--color-text-medium-light);
    text-align: center;
}

.section--info--dark {
    background-color: var(--color-section-dark);
}

.section--info--dark h1 {
    color: var(--color-text-light);
}

/* FOOTER */

.footer {
    background-color: var(--color-section-light);
    padding: 36px 0 24px;
}

.footer__category > h3 {
    margin-bottom: 20px;
}

.footer__category h3 > a {
    color: var(--color-text-dark);
    font-size: var(--text-body-description);
    font-weight: bold;
    text-decoration: none;
}

.footer__category h3 > a:hover {
    color: #5a5a5c;
}

.footer__category ul > li {
    margin-top: 10px;
}

.footer__category ul li > a {
    color: var(--color-text-dark);
    text-decoration: none;
    font-size: var(--text-body-description);
}

.footer__category ul li > a:hover {
    color: #5a5a5c;
}

/* PAGE 2 */

.single-link li > a {
    text-decoration: none;
    color: var(--color-text-dark);
}

.single-link li > a:hover {
    color: #6d6e6d;
}

/* Menu */

.hamburger {
	display: none;
    cursor: pointer;
    color: var(--color-text-light);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	z-index: 101;
}

.menu_door {
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	background: #222222e1;
}

.door_left {
	right: 50%;
}

.door_right {
	left: 50%;
}

.menu_content {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.menu_close {
	position: absolute;
	top: 60px;
	right: 60px;
	font-size: 12px;
	font-weight: 700;
	color: var(--color-text-light);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close:hover {
	color: #c9c9c9;
}

.menu_nav ul li:not(:last-of-type) {
	margin-bottom: 20px;
}

.menu_nav ul li a {
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
	letter-spacing: 0.2em;
}

.menu_nav ul li a:hover {
  color: #c9c9c9;
  -webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

/* Responsive */

@media (max-width: 800px) {
    
    .span-icons {
        margin-top: 20px;
    }

    .section--category {
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px;
    }

    .section--highlighted {
        padding: 30px 5px;
    }

    .section--info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__category {
        margin-bottom: 30px;
    }
}


@media (max-width: 992px) {
    .hamburger {
      display: flex;
      align-items: center;
    }

    .header__nav {
        display: none !important;
    }
}